- @page_title = t('shoppe.states.states')

= content_for :header do
  %p.buttons= link_to t('shoppe.states.back') , :states, :class => 'button'
  %h2.states= t('shoppe.states.states')

= render 'form'